* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 1px;
    border-radius: 10%;
}

.button {
    margin-top: 5em;
    width: 100%;
}